<html>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<head>
    <meta charset="UTF-8">
    <title>多人在线语言聊天室</title>
    <link rel="stylesheet" href="stype.css">
</head>

<body>

    <!------------------------- regist_view ------------------------->
    <div id="login_view">
        <input id="username" type="text" placeholder="username" />
        <input id="password" type="password" placeholder="password" />
        <input id="login" type="button" onclick="login()" value="连接服务器中。。。" disabled="true" />
        <input id="regist" type="button" onclick="set_showing_view(View.kRegister)" value="连接服务器中。。。" disabled="true"></input>
    </div>


    <!------------------------- regist_view ------------------------->
    <div id="regist_view">
        <input id="regist_username" type="text" placeholder="username" />
        <input id="regist_password" type="password" placeholder="password" />
        <input id="regist_login" type="button" onclick="regist()" value="注册" />
    </div>

    
    <!------------------------- main_view ------------------------->
    <div id="main_view">
        <button onclick="get_room_list()">刷新</button>
        <div>
            房间数：{{rooms.length}}
        </div>
        <ul>
            <li v-for="room in rooms">
                <div class="room-item">
                    <div class="room_id">房间号：{{room.roomId}}</div>
                    <div>人数：{{room.userNum}}</div>
                    <div>房主：{{room.ownerId}}</div>
                    <button v-bind:onclick="'join_room('+room.roomId+')'">加入</button>
                </div>
            </li>
        </ul>
        <button onclick="create_room()">创建房间</button>
    </div>


    <!------------------------- room_view ------------------------->
    <div id="room_view">
        <ul>
            <li v-for="[username, property ] in users">
                <div class="avatar">{{username}}</div>
                <meter v-bind:value="property"></meter>
                <input type="range" v-bind:id="username" onchange="set_user_volume(this.id, this.value)" min="0"
                    max="200" /><br>
            </li>
        </ul>
        <div class="control">
            <button onclick="get_input_devices()">刷新</button>
            <select onchange="change_input_device(this.value)">
                <option v-for="audio_device in audio_devices">{{audio_device}}</option>
            </select>
            <progress id="collecter" v-bind:disabled="is_muted" max="1" value="0.5"
                v-bind:style="is_muted?'background:red':''"></progress>
            <button onclick="toggle_mute()">{{is_muted?"解除静音":"静音"}}</button>
            <button>退出房间</button>
        </div>
        <div id="msg_board">
            <div id="msg_list">
                <li v-for="msg in msgs">
                    {{msg.user}} : {{msg.msg}}
                </li>
            </div>
            <input type="text" id="msg_to_send"/>
            <button onclick="send_msg()">发送</button>
        </div>
    </div>


    <script src="node_modules\blueimp-md5\js\md5.js"></script>
    <script>
        const Request = {
            kRegist: "request.regist",
            kLogin: "request.login",
            kCreateRoom: "request.createRoom",
            kLeaveRoom: "request.leaveRoom",
            kJoinRoom: "request.joinRoom",
            kGetRoomList: "request.getRoomList",
            kChangeOwner: "request.changeOwner",
            kKickUser: "request.kickUser",
            kMute: "request.mute",
            kSendMsg: "request.sendMsg"
        }
        
        const Reply = {
            kRegist: "reply.regist",
            kLogin: "reply.login",
            kCreateRoom: "reply.createRoom",
            kLeaveRoom: "reply.leaveRoom",
            kJoinRoom: "reply.joinRoom",
            kGetRoomList: "reply.getRoomList",
            kChangeOwner: "reply.changeOwner",
            kKickUser: "reply.kickUser",
            kMute: "reply.mute",
        }
        
        const Boardcast = {
            kCreateRoom: "boardcast.createRoom",
            kLeaveRoom: "boardcast.leaveRoom",
            kJoinRoom: "boardcast.joinRoom",
            kChangeOwner: "boardcast.changeOwner",
            kKickUser: "boardcast.kickUser",
            kMute: "boardcast.mute",
            kSendMsg: "boardcast.sendMsg"
        }

        const View = {
            kLogin: "login_view",
            kRegister: "regist_view",
            kMain: "main_view",
            kRoom: "room_view",
        }

        global_values = {
            g_username: null,
            g_roomId: null,
            g_salt: 'this is a salt'
        }

        function set_showing_view(view) {

            for (var key in View) {
                el = document.getElementById(View[key]);
                el.hidden = true;
            }
            el = document.getElementById(view);
            el.hidden = false;
        }

        set_showing_view(View.kLogin);

        var main_view_app = new Vue({
            el: '#main_view',
            data: {
                rooms: [
                    //{roomId: 123456, userNum: 4, ownerId: "ys"},
                    //{roomId: 456789, userNum: 3, ownerId: "gzh"}
                ]
            }
        })
        var room_view_app = new Vue({
            el: '#room_view',
            data: {
                users: new Map(),
                audio_devices: ["麦克风", "耳机"],
                is_muted: false,
                msgs : [
                    {user: "gzh", msg: "hello"},
                    {user: "gzh", msg: "hello"},
                ]
            },
            watch: {
                users: function (val) {
                    alert(val);
                },
            },
            created: function () {
                //this.users.set('gzh', 0.6);
                //this.users.set('ys', 0.7);
                //this.users.set('fda', 0.8);
            },
        })

        const url = "ws://119.91.116.26:9001";
        var websocket = new WebSocket(url);

        function set_connected() {
            document.getElementById("login").value = "登录";
            document.getElementById("login").disabled = false;
            document.getElementById("regist").value = "注册";
            document.getElementById("regist").disabled = false;
        }

        websocket.onopen = () => {
            if (local_websocket.readyState == websocket.OPEN) {
                set_connected();
            }
            console.log("open");
        }
        websocket.onerror = () => {
            alert("websocket error");
        }

        const handlers = new Map([
            [Reply.kRegist, on_regist],
            [Reply.kLogin, on_login],
            [Reply.kCreateRoom, on_create_room],
            [Reply.kLeaveRoom, on_leave_room],
            [Reply.kJoinRoom, on_join_room],
            [Reply.kGetRoomList, on_get_room_list],
            [Reply.kChangeOwner, on_change_owner],
            [Reply.kKickUser, on_kick_user],
            [Reply.kMute, on_mute],

            [Boardcast.kCreateRoom, on_create_room_boardcast],
            [Boardcast.kLeaveRoom, on_leave_room_boardcast],
            [Boardcast.kJoinRoom, on_join_room_boardcast],
            [Boardcast.kChangeOwner, on_change_owner_boardcast],
            [Boardcast.kKickUser, on_kick_user_boardcast],
            [Boardcast.kMute, on_mute_boardcast],
            [Boardcast.kSendMsg, on_send_msg_boardcast],
        ]);

        websocket.onmessage = (evt) => {
            console.info("chat_room_server.reply: " + evt.data);

            const msg = JSON.parse(evt.data);

            handlers.get(msg.type)(msg);
        }

        // function pre def: for no error
        function on_regist(msg) { }
        function on_login(msg) { }
        function on_create_room(msg) { }
        function on_leave_room(msg) { }
        function on_join_room(msg) { }
        function on_get_room_list(msg) { }
        function on_change_owner(msg) { }
        function on_kick_user(msg) { }
        function on_mute(msg) { }

        function on_create_room_boardcast(msg) { }
        function on_leave_room_boardcast(msg) { }
        function on_join_room_boardcast(msg) { }
        function on_change_owner_boardcast(msg) { }
        function on_kick_user_boardcast(msg) { }
        function on_mute_boardcast(msg) { }

        function login() {
            var username = document.getElementById("username").value.trim();
            var password = document.getElementById("password").value.trim();

            function len_check(s, min_len, max_len) {
                return s.length <= max_len && s.length >= min_len;
            }

            if (!len_check(username, 3, 10)) {
                alert("username length must in range [3,10]");
                return;
            }
            if (!len_check(password, 6, 16)) {
                alert("password length must in range [3,16]");
                return;
            }

            password = md5(password + global_values.g_salt);
            global_values.g_username = username;
            const req = {
                type: Request.kLogin,
                userName: username,
                password: password
            }
            websocket.send(JSON.stringify(req));
            console.log(JSON.stringify(req));
        }

        function on_login(msg) {
            if (msg.result) {
                set_showing_view(View.kMain);
            } else {
                alert(msg.msg);
            }
            get_room_list();
        }

        function regist() {
            var username = document.getElementById("regist_username").value.trim();
            var password = document.getElementById("regist_password").value.trim();
            console.log(md5(password)); // 未加盐 不安全
            password = md5(password + global_values.g_salt);
            console.log(password); // 加盐 安全
            global_values.g_username = username;
            const req = {
                type: Request.kRegist,
                userName: username,
                password: password
            }
            websocket.send(JSON.stringify(req));
            console.log(JSON.stringify(req));
        }

        function on_regist(msg) {
            if (msg.result) {
                document.getElementById("username").value = document.getElementById("regist_username").value;
                document.getElementById("password").value = document.getElementById("regist_password").value;
                set_showing_view(View.kLogin);
            } else {
                alert(msg.msg);
            }
        }

        function send_msg() {
            var text = document.getElementById("msg_to_send").value;
            const req = {
                type: Request.kSendMsg,
                text: text
            };
            websocket.send(JSON.stringify(req));
        }

        function join_room(room_id) {
            alert(room_id);
            const req = {
                type: Request.kJoinRoom,
                roomId: room_id,
            }
            websocket.send(JSON.stringify(req));
            console.log(JSON.stringify(req));
            global_values.g_roomId = room_id;

        }

        function on_join_room(msg) {
            if (msg.result) {

            }
        }

        function get_room_list() {
            const req = {
                type: Request.kGetRoomList
            }
            websocket.send(JSON.stringify(req));
            console.log(JSON.stringify(req));
        }

        function on_get_room_list(msg) {
            if (msg.rooms == null) {
                msg.rooms = []; // bad
            }
            main_view_app.rooms = msg.rooms;
        }

        // -------------boardcast--------------

        function on_create_room_boardcast(msg) {
            main_view_app.rooms.push(
                {roomId: msg.roomId, userNum: 1, ownerId: msg.ownerId}
            );
            //删掉下面两行会导致ui不更新的bug
            room_view_app.is_muted = !room_view_app.is_muted;
            room_view_app.is_muted = !room_view_app.is_muted;
        }

        function on_leave_room_boardcast(msg) {
            room_view_app.users.delete(msg.userId);
            //删掉下面两行会导致ui不更新的bug
            room_view_app.is_muted = !room_view_app.is_muted;
            room_view_app.is_muted = !room_view_app.is_muted;
        }

        function on_send_msg_boardcast(msg){
            room_view_app.msgs.push({user: msg.user, msg: msg.msg});
        }

        // ------------------------------------

        function on_SigCollectorVolumeReady(msg) {
            document.getElementById("collecter").value = msg.volume;
        }

        function on_SigUserVolumeReady(msg) {
            room_view_app.users.set(msg.name, msg.volume);

            //删掉下面两行会导致ui不更新的bug
            room_view_app.is_muted = !room_view_app.is_muted;
            room_view_app.is_muted = !room_view_app.is_muted;
        }

        function on_ret_GetInputDevices(msg) {
            room_view_app.audio_devices = msg.ret;
        }

        const local_handlers = new Map([
            ["SigCollectorVolumeReady", on_SigCollectorVolumeReady],
            ["SigUserVolumeReady", on_SigUserVolumeReady],
            ["ret.GetInputDevices", on_ret_GetInputDevices],
        ]);



        const local_audio_server_url = "ws:127.0.0.1:9007";
        var local_websocket = new WebSocket(local_audio_server_url);
        local_websocket.onopen = () => {
            if (websocket.readyState == websocket.OPEN) {
                set_connected();
            }
            console.log("local_websocket open");
        };
        local_websocket.onerror = () => {
            alert("local_websocket error");
        }
        local_websocket.onmessage = (evt) => {
            console.debug(evt.data);

            const msg = JSON.parse(evt.data);

            local_handlers.get(msg.type)(msg);
        }

        function create_room() {
            const req = {
                type: Request.kCreateRoom,
            }
            websocket.send(JSON.stringify(req));
            console.log(JSON.stringify(req));
        }

        function on_create_room(msg) {
            const req = {
                type: Request.kJoinRoom,
                roomId: msg.roomId,
            }
            global_values.g_roomId = msg.roomId;
            websocket.send(JSON.stringify(req));
            console.log(JSON.stringify(req));
        }

        function get_input_devices() {
            //GetInputDevices -> arr ret
            local_websocket.send(JSON.stringify({type: "GetInputDevices"}));
        }

        function on_join_room(msg) {
            if (msg.result == false) {
                console.log("join_room failed: " + msg.msg);
                return;
            }
            ///*QString user_name, int room_id) */
            const req = {
                type: "JoinRoom",
                user_name: global_values.g_username,
                room_id: global_values.g_roomId,
            }
            local_websocket.send(JSON.stringify(req));
            console.log(JSON.stringify(req));

            get_input_devices();
            set_showing_view(View.kRoom);
        }

        function set_user_volume(username, volume) {
            const req = {
                type: "SetUserVolume",
                name: username,
                volume: volume
            }
            local_websocket.send(JSON.stringify(req));
            console.log(JSON.stringify(req));
        }

        function toggle_mute() {
            room_view_app.is_muted = !room_view_app.is_muted;
            local_websocket.send(JSON.stringify({type: "SetMuted", is_muted: room_view_app.is_muted}))
        }

        function change_input_device(device_name) {
            local_websocket.send(JSON.stringify({type: "SetInputDevice", device_name: device_name}));
        }

    </script>

</body>

</html>
