/*************global*************/
li {
    list-style: none;
}


/*************login_view*************/
#login_view {
    border: 1px solid black;
    border-radius: 15px;
    margin: 50px;
    padding: 10px;
}

#login_view>input {
    display: list-item;
    width: 80%;
    margin: 10px 50px;
}


/*************main_view*************/
/* 房间列表 */
#main_view>ul {
    padding: 0;
}

/* 房间列表项 */
#main_view>ul>li {
    border: 1px solid black;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
}

/* 主界面 */
#main_view {
    border: 1px solid black;
    border-radius: 15px;
    margin: 50px;
    padding: 10px;
}

/* 创建房间按钮 */
#main_view>button {
    border-radius: 15px;
    margin: 10px 40%;
    padding: 10px;
    border: 1px solid black;
    width: 20%;
}

/* 列表项中的每一列（不包括“加入”按钮） */
#main_view>ul>li>div>div {
    margin: auto 5px;
    white-space: nowrap;
    float: left;
    width: 25%;
}

#main_view>ul>li>div>button {
    border: 1px solid;
    border-radius: 5px;
    padding: 3px 10px;
}

/*************room_view*************/
#room_view {
    border: 1px solid black;
    border-radius: 15px;
    margin: 50px;
    padding: 0px;
}

#room_view>ul {
    padding: 10;
}

#room_view>ul>li {
    border: 1px solid black;
    border-radius: 10px;
    margin: 3px;
    padding: 5px;
    display: inline-block;
}

#room_view>ul>li>div.avatar {
    background-color: gray;
    background-color: rgb(216, 136, 45);
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin: auto auto;
    border: 5px solid rgb(126, 49, 1);
    border-radius: 99px;
    line-height: 50px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#room_view>ul>li>meter {
    width: 100%;
    height: 30px;
}

meter {
    --error: 24%;
    --warning: 56%;
    --ok: 100%;
    height: 50px;
}


meter::-webkit-meter-bar {
    /* background-color: rgb(83, 83, 83); */
}

meter::-webkit-meter-optimum-value {
    /* background: red; */
}

#collecter{
    /* background: red; */
}

#room_view > div{
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    border: black solid 1px;
}